.boton {
    background-color: #6278f5;
    border-radius: 10px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding: 24px 32px;
    border: none;
    margin: 32px 0;
    cursor: pointer;

}

.boton:hover{
    color: #95FFD4;
}